{% extends "base.html" %}

{% block content %}


  <h1>{{ title }}</h1>
<a href="/ship/export_pdf">Export PDF</a>
<table class="table table-bordered">
  <tr>
    <td>報價單號</td>
    <td>{{ record.id }}</td>
    <td>作廢註記</td>
    <td>{{ record.invalid }}</td>
  </tr>
  <tr>
    <td>報價日期</td>
    <td>{{ record.ord_date | date:"Y-m-d" }}</td>
    <td>業務代表</td>
    <td>{{ record.request_user }}</td>
  </tr>
  <tr>
    <td>客戶名稱</td>
    <td>{{ record.customer.title }}</td>
    <td>幣別</td>
    <td>{{ record.currency }}</td>
  </tr>
  <tr>
    <td>有效日期</td>
    <td colspan="3">{{ record.effective_date | date:"Y-m-d" }}</td>
  </tr>
  <tr>
    <td>註記事項</td>
    <td colspan="3">{{ record.memo | linebreaks  }}</td>
  </tr>

</table>


<table class="table table-striped">
  <tr>
    <th width="6%">作廢註記</th>
    <th width="5%">行號</th>
    <th width="8%">料號</th>
    <th width="15%">品名</th>
    <th width="30%">規格</th>
    <th width="5%">單價</th>
    <th >註記事項</th>
  </tr>
  {% for row in record.quotedetail_set.all %}
  <tr>
    <td>{{ row.invalid }}</td>
    <td>{{ row.line_no }}</td>
    <td>{{ row.product.sap_no }}</td>
    <td>{{ row.product.product_desc }}</td>
    <td>{{ row.product.specification }}</td>
    <td>{{ row.unit_price }}</td>
    <td>{{ row.line_memo | linebreaks | truncatechars:30 }}</td>
  </tr>
  {% endfor%}
</table>

{% endblock content %}


quotehead = models.ForeignKey(QuoteHead) #報價單編號
 = models.IntegerField() #行號
 = models.ForeignKey(Product) # 料號
 = models.FloatField() # 單價
 = models.CharField(max_length=50, blank=True, null=True) # 行備註
 = models.BooleanField(default=False) #作廢
